doctype html
html
	head
		title="Joseph's Scraper Control Panel"
		link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600' rel='stylesheet')
		link(href='https://fonts.googleapis.com/css?family=Raleway:400,100,300,600' rel='stylesheet')
		link(rel="stylesheet" href="/css/index.css")
	body
		div(style="font-size:50px;padding:10px;") Online Scrapers.
		ul(style="list-style-type:none")
			li(style="font-size:16px;padding-top:10px;") 
				div(style="font-size:16px;") 
					| University of the Fraser Valley
					input(type="checkbox" checked="checked" class="scraperCheck") 
					label(style="color:#2ecc71" class="scraperStatus") On
				div(style="color:#999;padding-left:10px;font-size:12px;") Last Update: 2 seconds ago
		script(src="/js/update.js")